{% extends "layout.html" %}

{% block content %}
<div class="ui two column centered grid">
    <div class="column">
        <h1>Settings</h1>
        <div class="ui accordion">
            <div class="active title">
            <i class="dropdown icon"></i>
            <b>EMAIL</b>
            </div>
            <div class="active content">
                {% for email in email_settings %}
                <p>
                    <b>{{ email }} </b>: {{ email_settings[email] }}
                </p>
                
                {% endfor %}

            </div>
            <div class="active title">
                <i class="dropdown icon"></i>
                <b>DATABASE Connection</b>
            </div>
            <div class="active content">
                {% for db in db_settings %}
                <p>
                    <b>{{db}}</b>: {{db_settings[db]}}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}


