{% extends "layout.html" %}

{% block content %}

<div class="ui two column centered grid">
  <div class="column">
    <table class="ui purple celled table"> 
      <thead>
          <tr>
            <th colspan="8">
              <h1>Strategy:  {{ strategy_name }} </h1>
            </th>
          </tr>
          <tr>
              <th scope="col">Name</th>
              <th scope="col">Bias</th>
              <th scope="col">Entry Point</th>
              <th scope="col">Stop Loss</th>
              <th scope="col">Take Profit</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">#</th>
            </tr>
      </thead>
      <tbody>
        {% for strategy in strategies %}      
        <tr>
            <td>{{ strategy.name }}</td>
            <td>{{ strategy.strategy_bias}}</td>
            <td>{{ strategy.entry_point}}</td>
            <td>{{ strategy.stop_loss}}</td>
            <td>{{ strategy.take_profit}}</td>      
            <td>{{ strategy.date}}</td>             
            <td class="warning">{{ strategy.status}}</td>         
            <td>
              <form method="post" action="/delete_instrument/{{strategy.id}}">
                <div class="ui icon buttons">
                  <button class="ui button" type="submit">
                     <input type="hidden" name="trading_id" value="{{ strategy.id }}"/>
                     <i class="trash icon purple"></i>
                     
                  </button>
                </div>
              </form>
            </td>      

        </tr>
        {% endfor %}
      </tbody>  
  </table>  
  </div>
</div>
{% endblock content %}



