{% extends "layout.html" %}

{% block content %}

<div class="ui two column centered grid">
    <div class="column">
        <table class="ui blue selectable celled table"> 
            <thead>
                <tr>
                    <th colspan="2">
                        <div class="ui grid">
                            <div class="four column row">
                                <div class="left floated column">
                                <h1>Strategies</h1>
                                </div>
                                
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for strategy in strategies %}
                <tr> 
                    <td>{{ strategy['id'] }}</td>
                    <td>{{ strategy['name'] }}</td>
                </tr>
                {% endfor %}
            </tbody>    
        </table>     
        <p>* if you need a new strategy sent us an email to <b>contact@costamurillo.com</b> </p>   
    </div>
</div>
{% endblock content %}


